.footer-nav__items {
    @include reset-list();
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-nav__items > .menu-item {
    margin-right: var(--wp--custom--spacing--4);

    &:last-child {
        margin-right: 0;
    }
}

.footer-nav__items a {
    font-weight: 700;
    text-decoration: none;

    @include media-min(navigation) {
        padding: var(--wp--custom--spacing--1) 0;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}
