.hero {
    @include small-top-padding();
    @include small-bottom-padding();
    background-color: var(--wp--custom--color--primary--500);
    margin-bottom: 0;
    position: relative;

    &::before {
        background-color: var(--wp--custom--color--primary--500);
        bottom: 0;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 5;
    }

    &__container {
        align-items: center;
        display: flex;
        flex-direction: row;
        // Plus side paddings.
        max-width: calc(var(--wp--custom--width--container-wide) + var(--side-padding) * 2);
        min-height: 20rem;

        @include media-min(medium) {
            min-height: 30rem;
        }
    }

    &__content {
        color: var(--wp--custom--color--neutral--white);
        max-width: var(--wp--custom--width--container-medium);
        position: relative;
        z-index: 10;
    }

    &__image {

        @include media(medium) {
            margin: 0;
        }

        img {
            bottom: 0;
            height: 100%;
            left: 0;
            object-fit: cover;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 0;
        }
    }
}

.content-area > .hero:first-child {
    margin-top: 0;
}
