.hero {
    @include small-top-padding();
    @include small-bottom-padding();
    margin-bottom: 0;

    &__container {
        @include media-min(medium) {
            align-items: center;
        }

        a.is-style-all-caps {
            text-decoration: none;
            vertical-align: middle;
            &:focus,
            &:hover {
                text-decoration: underline;
            }

            .icon {
                margin-right: 0.5rem;
            }
        }
    }
    &__image {

        @include media(medium) {
            margin: 0;
        }
        img {
            width: 100%;
        }
    }
}

.content-area > .hero:first-child {
    margin-top: 0;
}
