.post-item {
    background-color: var(--wp--custom--color--theme--green);
    position: relative;
    transition: background-color var(--wp--custom--transition--4), border var(--wp--custom--transition--4);

    &:nth-child(3n-1) {
        background-color: var(--wp--custom--color--theme--beige);
    }

    &:nth-child(3n) {
        background-color: var(--wp--custom--color--grey--100);
    }

    a {
        &::after {
            bottom: 0;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 0;
        }
    }
}

.post-item__content {
    padding: var(--wp--custom--spacing--4) var(--wp--custom--spacing--2);
    text-align: center;

    @include media-min(navigation) {
        padding: var(--wp--custom--spacing--6) var(--wp--custom--spacing--3);
    }
}
