.post-item {
    background-color: var(--wp--custom--color--neutral--white);
    border: 1px solid var(--wp--custom--color--grey--300);
    position: relative;
    transition: background-color var(--wp--custom--transition--4), border var(--wp--custom--transition--4);

    &:focus-within,
    &:hover {
        background-color: var(--wp--custom--color--primary--100);
        border-color: var(--wp--custom--color--primary--300);
    }

    a {
        &::after {
            bottom: 0;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 0;
        }
    }
}

.post-item__content {
    padding: var(--wp--custom--spacing--4) var(--wp--custom--spacing--3);

    @include media-min(navigation) {
        padding: var(--wp--custom--spacing--6) var(--wp--custom--spacing--4-5);
    }
}
