.site-footer {
    @include default-top-padding();
    @include default-bottom-padding();
    background-color: var(--wp--custom--color--primary--500);
    color: var(--wp--custom--color--neutral--white);
}

.site-footer__text {
    @include font-size(18);
    max-width: var(--wp--custom--width--container-small);
}

.site-footer__copyright {
    @include font-size(16);
}
