// Containers.
.container { // Own container class.
    margin-left: auto;
    margin-right: auto;
}

body {
    --side-padding: var(--wp--custom--spacing--2);

    @include media-min(medium) {
        --side-padding: var(--wp--custom--spacing--4);
    }

    @include media-min(navigation) {
        --side-padding: var(--wp--custom--spacing--6);
    }
}

// Side padding.
.x-padding,
.has-background.alignfull {
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
}

.alignwide {
    max-width: var(--wp--custom--width--container-wide);
}

.alignmax,
.alignfull {
    margin-left: calc(var(--side-padding) * -1);
    margin-right: calc(var(--side-padding) * -1);
    max-width: none;
}
