// Default margins for most common elements if they happen to be outside of the content.
ul,
ol,
table,
p,
figure {
    margin: var(--wp--custom--spacing--4) 0 0 0;
    &:first-child {
        margin-top: 0;
    }
}

// Default top margin between elements in the content.
.content-area > * + *,
.top-margin > * + *,
.wp-block-column > * + *,
.wp-block-group > * + *,
// For editor.
.block-editor-block-list__layout.is-root-container > * + * {
    margin-bottom: 0;
    margin-top: var(--wp--custom--spacing--4);
}

.top-margin--xl > * + * {
    margin-top: var(--wp--custom--spacing--6);
}

.top-margin--md > * + * {
    margin-top: var(--wp--custom--spacing--3);
}

.top-margin--sm > * + * {
    margin-top: var(--wp--custom--spacing--2);
}

.content-area > {
    :first-child {
        @include default-top-margin();
    }

    :last-child {
        @include default-bottom-margin();
    }

    :last-child.has-background,
    :last-child.image-and-text {
        margin-bottom: 0;
    }
}

.content-area > h2,
.content-area > h3 {
    margin-top: 1.5em;
}

// Helper class for unifying space aroud modules
.content-row,
.wp-block-group,
// Next element top margin inside the content area.
.content-area .content-row + *,
.content-area .wp-block-group + * {
    @include default-top-margin();
}

// Set all alignfull elements margin-top to zero, if they are first block.
.content-area > .alignfull:first-child,
.content-area .has-background + .has-background,
.content-area .has-background + .image-and-text,
.content-area .image-and-text + .has-background,
.content-area .social-links + .has-background,
.content-area .social-links + .image-and-text {
    margin-top: 0;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
