/* @link https://utopia.fyi/type/calculator?c=340,18,1.125,1140,20,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

html {
    // To make sure user browser setting for font size is respected.
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    overflow-y: scroll;
}

body,
button,
input,
select,
textarea {
    font-size: var(--wp--custom--typography--text--0);
    line-height: var(--wp--custom--typography--lh--xl);
    font-family: var(--wp--custom--font--sans);
    color: var(--wp--custom--color--grey--700);
}

body {
    background-color: var(--wp--custom--color--grey--100);
}

a,
a:visited {
    color: var(--wp--custom--color--grey--700);
    transition: color var(--wp--custom--transition--3);

    &:hover,
    &:active,
    &:focus {
        color: var(--wp--custom--color--grey--900);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--wp--custom--font--sans-heading);
    margin: var(--wp--custom--spacing--4) 0 0 0;
    &:first-child {
        margin-top: 0;
    }

    a {
        text-decoration: none;
    }
}

h1,
.h1 {
    font-size: var(--wp--custom--typography--text--6);
    line-height: var(--wp--custom--typography--lh--xs);
}

h2,
.h2 {
    font-size: var(--wp--custom--typography--text--3);
    line-height: var(--wp--custom--typography--lh--md);
}

h3,
.h3 {
    font-size: var(--wp--custom--typography--text--2);
    line-height: var(--wp--custom--typography--lh--md);
}

h4,
.h4 {
    font-size: var(--wp--custom--typography--text--1);
    line-height: var(--wp--custom--typography--lh--lg);
}

h5,
.h5 {
    font-size: var(--wp--custom--typography--text--0);
    line-height: var(--wp--custom--typography--lh--lg);
}

h6,
.h6 {
    font-size: var(--wp--custom--typography--text--0);
    line-height: var(--wp--custom--typography--lh--lg);
}
